@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abel&family=BBH+Sans+Bartle&display=swap");
/*Reset del CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

footer, footer p, main .section h2, main .seccion form h5 {
  display: flex;
  font-family: "Courier New", Courier, monospace;
}

.bloque-inicio div h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  justify-content: center;
  padding: 10px 30px;
}
.seccion-principal h2 {
  color: rgb(13, 10, 29);
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 19px;
  text-decoration: underline;
}

.bloque-inicio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.bloque-inicio div #imagen-principa {
  display: flex;
  text-align: center; /* Centra la imagen dentro de su contenedor */
  margin-bottom: 20px;
  max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
}
.bloque-inicio div h1 {
  flex: 1 1 50%;
}
.bloque-inicio .nav-link:hover { /*agrego estilo al elemento para que al pasar por encima de las opciones del menú pasen a color Verde para que haga juego con el logo y el boton buscar*/
  color: rgba(28, 161, 57, 0.801);
}
.bloque-inicio div > ul > li .dropdown-menu .dropdown-item:hover {
  color: rgba(28, 161, 57, 0.801);
}
.bloque-inicio .mi-navbar { /* Aplique cambio para que el fondo del menú respete el color blanco quitando el que viene en boostrap */
  color: white;
}

.seccion {
  margin: 10px 15px;
  position: relative;
  padding-bottom: 45px;
}
.seccion .card { /*agregamos el estilo de la card en el archivo css*/
  width: 18rem;
  margin: 0 auto;
}
.seccion .carousel-control-next-icon {
  background-color: rgb(74, 187, 112);
}
.seccion .carousel-control-next-icon .visually-hidden {
  background-color: rgb(6, 112, 11);
}
.seccion .carousel-control-prev-icon {
  background-color: rgb(74, 187, 112);
}
.seccion .carousel-control-prev-icon .visually-hidden {
  background-color: rgb(6, 112, 11);
}
.seccion :root { /*me la traje de boostrap del carrusel para poder adaptar el color que tenia definido coloque veerde para que quede acorde al logo*/
  --bs-carousel-indicator-active-bg: #44b435;
  --bs-carousel-caption-color: #fff;
  --bs-carousel-control-icon-filter: ;
}
.seccion .carousel-indicators {
  display: flex;
  margin-top: 20px;
}
.seccion .wrapper {
  font-family: "Courier New", Courier, monospace;
}
.seccion .texto-formulario {
  font-family: "Courier New", Courier, monospace;
  text-align: start;
  flex: 1 1 50%;
}

main {
  /*aggrego una gradiantes que lo coloque en parcial maps*/
}
main section .imagen-de-fondo {
  background-image: url(../img/local.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  max-height: 500px;
  min-height: 100px;
}
main section .texto {
  color: rgb(24, 23, 107);
  font-size: large;
  margin: 5px;
  text-align: center;
  padding: auto;
}
main .nosotros {
  background: linear-gradient(1deg, rgb(160, 160, 219) 0%, rgb(148, 247, 227) 69%, rgb(245, 242, 242) 95%);
}
main .nosotros img { /*aggrego una transicion*/
  position: relative;
  overflow: hidden;
  transition: transform 3s ease;
}
main .nosotros:hover {
  cursor: pointer;
}
main .nosotros:hover img {
  cursor: pointer;
  transform: scale(1.05);
  font-size: calc(1vw + 1vh);
}
main .nosotros img:hover::after {
  transform: scale(1);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "imagen1 imagen1 imagen2 imagen2" "imagen1 imagen1 imagen2 imagen2" "imagen3 imagen3 imagen4 imagen4" "imagen3 imagen3 imagen4 imagen4";
  justify-content: center;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  position: relative;
  gap: 20px;
}
.wrapper div {
  padding: 15px;
  flex: 1 1 50%;
  /* Crece, encoge y tiene una base del 50% */
  overflow: hidden;
  position: relative;
}
.wrapper div p {
  flex: 1 1 50%;
}
.wrapper div h5 {
  flex: 1 1 50%;
  /* Crece, encoge y tiene una base del 50% */
}
.wrapper div .imagen-producto {
  display: flex;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.wrapper div .lista-productos {
  text-indent: 15px;
  margin: 5px 5px 5px 5px;
  padding: auto;
  list-style-type: none;
}
.wrapper div .precio {
  text-indent: 15px;
  margin: 20px 20px 15px 25px;
  padding: auto;
  text-indent: 15px;
  color: rgb(15, 100, 19);
  font-size: larger;
  font-weight: bold;
  list-style-type: none;
}
.wrapper .one {
  grid-area: imagen1;
  overflow-wrap: break-word;
  position: relative;
  overflow-wrap: break-word;
}
.wrapper .two {
  grid-area: imagen2;
  overflow-wrap: break-word;
  position: relative;
  overflow-wrap: break-word;
}
.wrapper .three {
  grid-area: imagen3;
  overflow-wrap: break-word;
  position: relative;
  overflow-wrap: break-word;
}
.wrapper .four {
  grid-area: imagen4;
  overflow-wrap: break-word;
  position: relative;
  overflow-wrap: break-word;
}

.btn {
  color: #030303;
  font-weight: bolder;
  font-size: 18px;
  background: linear-gradient(180deg, rgb(135, 212, 166) 7%, rgb(247, 247, 247) 50%, rgb(15, 125, 94) 95%);
  border-color: #398a64;
}

.btn:hover {
  cursor: pointer;
}

main .section h2 {
  padding: 15px;
  font-size: 19px;
  font-weight: lighter;
  flex: 1 1 50%;
}
main .seccion form h5 {
  padding: 15px;
  font-size: 17px;
  font-weight: lighter;
  flex: 1 1 50%;
}

footer {
  flex-direction: column;
  position: static;
  text-align: left;
  color: rgb(0, 3, 1);
  font-size: small;
  padding: 10px 30px;
}
footer a {
  font-size: 16px;
  text-decoration: none;
  color: rgb(5, 61, 5);
  font-weight: bold;
}
footer p {
  margin-left: 10px;
  flex: 1 1 50%;
}
footer section {
  margin: 10px;
}
footer .redes-sociales {
  display: flex;
  flex-direction: row;
}
footer .redes-sociales h4 {
  color: rgb(30, 97, 27);
  margin: 5px;
  font-size: 16px;
}
footer .redes-sociales img {
  padding: 4px;
  width: 40px;
  height: 40px;
}

/* Media query para computadoras de escritorio */
@media (max-width: 1024px) {
  body {
    padding: 20px;
  }
  header, main, footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "imagen1 imagen2" "imagen3 imagen4";
  }
}
/* Media query para tablet*/
@media (max-width: 720px) {
  body {
    padding: 20px;
  }
  header, main, footer {
    padding: 20px;
    text-align: left;
  }
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "imagen1 imagen2" "imagen3 imagen4";
  }
}
/* Media query para celular para que se adapte mejor amplie el max*/
@media (max-width: 676px) {
  header .hamburguesa {
    display: block;
  }
  header nav {
    display: none;
  }
  main, footer {
    padding: 5px 30px;
    text-align: left;
  }
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "imagen1" "imagen2" "imagen3" "imagen4";
  }
}/*# sourceMappingURL=style.css.map */