/* Media query para computadoras de escritorio */

@media (max-width: 1024px) {
    body {
        // max-width: 1200px;
        // max-width: 1200px;
        // margin: 0 auto;
        padding: 20px;
    }
    header, main, footer {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    .wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "imagen1 imagen2" 
        "imagen3 imagen4"
        ;        
    }
}


/* Media query para tablet*/
@media (max-width: 720px){
    body{
        padding: 20px;
    }
    header, main, footer {
        padding: 20px;
        text-align: left;
    }
    .wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "imagen1 imagen2" 
        "imagen3 imagen4"
        ;        
    }
}

/* Media query para celular para que se adapte mejor amplie el max*/
@media (max-width: 676px){ 
    header .hamburguesa{
        display: block;
    }
    header nav{
        display: none;
    }
    main, footer {
        padding: 5px 30px;
        text-align: left;
    }
    .wrapper{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "imagen1" 
        "imagen2" 
        "imagen3" 
        "imagen4"
        ;        
    }
}



